{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block css %}
.carousel-inner {
    height: 800px;
}

#title-page {
    position: absolute;
    top: 50%;
    margin-top: 200px;
}
{% endblock %}

{% block js %}
$('.carousel').carousel({
            interval: 5000
        });
{% endblock %}

{% block home_menuitem_active %}class="active"{% endblock %}
{% block features_menuitem_active %}{% endblock %}
{% block team_menuitem_active %}{% endblock %}

{% block content %}
<!-- Carousel
================================================== -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
        <div class="container" id="title-page">
            <h1 class="cover-heading">Faces of the Second World War</h1>
            <div class="container" style="width:1000px">
                <p class="lead">This dataset features 2500 photographs of men and
                    women who served in the Canadian Forces during the Second World
                    War. Taken from the Department of National Defence (DND)
                    collection at Library and Archives Canada, these photographs
                    depict military life during the Second World War. The DND
                    collection represents each branch of the Canadian Forces:
                    Army, Navy and Air Force.
                </p>
                <p class="lead">
                  <a href="#" class="btn btn-lg btn-default">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
      <img src="http://upload.wikimedia.org/wikipedia/en/5/5e/Canadians_Italy1.jpg" alt="First Photo">
      <div class="container">
        <div class="carousel-caption">
          <h3>First Photo</h3>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://hrsbstaff.ednet.ns.ca/damian/images/ortona_b1.jpg" alt="Second Photo">
      <div class="container">
        <div class="carousel-caption">
            <h3>Second Photo</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- /.carousel -->

{% endblock %}